<!doctype html>
<html>
  <head>
    <style>
      #store {
        background-color: #7d797b;
        color: #fff;
        font-size: 20px;
        text-aligh: center;
      }
      .minimum { background-color: white; color: red;}
      .medium { background-color: green; color: white;}
      .high { background-color: blue; color: white;}
    </style>
  </head>
  <body>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>

    <script src='http://localhost:9292/faye.js'></script>
    <div id="store">
      Store
    </div>

    Quantity:
    <div id="quantity">
    </div>

    Stock:
    <div id="minimum" class="minimum" hidden>
      Minimum
    </div>
    <div id="medium" class="medium" hidden>
      Medium
    </div>
    <div id="high" class="high" hidden>
      High
    </div>
    <script>
    $(function () {
    var faye = new Faye.Client('http://localhost:9292/faye');
      console.log(faye);
      faye.subscribe('/messages/new', function (data) {
        console.log(data);
        $('#minimum').hide();
        $('#medium').hide();
        $('#high').hide();

        $('#store').text(data['store']);
        $('#quantity').text(data['quantity']);
        $('#' + data['style']).show();
      });
    });
    </script>
  </body>
</html>
